rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /manifests/{userId}/{allPaths=**} {
      allow read: if request.auth.uid == userId;
    }
  }
}
